/* start main rules */

body{
    background-color: #f4f4f4;
    font-size:16px;
}
/* end main rules */

/* Start Navbar */



/* End Navbar */

/* start Login form */

.login{
    width: 300px;
    margin: 100px auto;
}

.login h4{
    color: #888;
}

.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #EAEAEA;
}

.login .btn{
    background-color: #008dde;
}

/* end Login form */

/*  start bootstrap edits*/

/*  start bootstrab edits*/
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-brand{
    font-size: 1em;
}
.dropdown-item{
    color: #f4f4f4;
}

/*  end bootstrap edits*/

/* Start Dashboard Page */

.home-stats .stat{
    padding: 20px;
    font-size: 15px;
    color: #FFF;
    border-radius: 10px;
}

.home-stats .stat a{
    color: #FFF;
}

.home-stats .stat a:hover{
    text-decoration: none;
}

.home-stats .stat span{
    display: block;
    font-size: 60px;
}

.home-stats .st-members{
    background-color: #3498db;
}

.home-stats .st-pending{
    background-color: #e74c3c;
}

.home-stats .st-items{
    background-color: #e67e22;
}

.home-stats .st-comments{
    background-color: #2ecc71;
}

.latest{
    margin-top: 30px;
}

/* End Dashboard Page */
