/* start main rules */

body{
    background-color: #f4f4f4;
}

/* end main rules */

/* start Login form */

.login{
    width: 300px;
    margin: 100px auto;
}

.login h4{
    color: #888;
}

.login input{
    margin-bottom: 10px;
}

.login .form-control{
    background-color: #EAEAEA;
}

.login .btn{
    background-color: #008dde;
}

/* end Login form */